<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Transaction</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Create Transaction</h1>
    <form th:action="@{/transactions/new}" method="post">
        <label for="namaPelanggan">Nama Pelanggan:</label>
        <input type="text" id="namaPelanggan" name="namaPelanggan"><br>

        <label for="namaPegawai">Nama Pegawai:</label>
        <input type="text" id="namaPegawai" name="namaPegawai" value="kasir" readonly><br>

        <label>Items:</label><br>
        <ul>
            <li th:each="menu : ${menus}">
                <input type="checkbox" th:id="'menu-' + ${menu.id}" th:value="${menu.id}" th:name="'items[' + ${menu.id} + '].id'">
                <label th:for="'menu-' + ${menu.id}" th:text="${menu.namaMenu}"></label>
                <input type="number" th:id="'kuantitas-' + ${menu.id}" th:name="'items[' + ${menu.id} + '].kuantitas'" min="1" value="1">
            </li>
        </ul>
        
        <button type="submit">Create Transaction</button>
    </form>
</body>
</html>
