<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Transaksi</title>
</head>
<body>
    <form th:action="@{/transaksi/create/save}" th:object="${transaksi}" method="post">
        <label for="namaPelanggan">Nama Pelanggan:</label>
        <input type="text" id="namaPelanggan" th:field="*{namaPelanggan}" required>

        <label for="items">Items:</label>
        <select id="items" multiple th:field="*{items}">
            <option th:each="menu : ${menus}" th:value="${menu.id}" th:text="${menu.namaMenu}"></option>
        </select>

        <label for="kuantitas">Kuantitas:</label>
        <input type="number" id="kuantitas" th:field="*{kuantitas}" required>

        <label for="username">Nama Pegawai:</label>
        <select id="username" name="username">
            <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
